<html>
  <head>
    <title>TRENDING</title>
    <% include ../partials/scripts %>
    <body class='animated fadeInDown'>
      <a href='/users/'>Home</a>
      <div id='indexContainer'>
        <% for (var i=0; i < blogs.length; i++) { %>
          <img src='<%= blogs[i].imglink %>'></a>
        <% } %>
      </div>
    </body>
  </head>
</html>
