/* Here lies my CSS */
@font-face {
    font-family: 'MyFont';
    src: url('../fonts/Pangram-ExtraLight.otf');
}

.playerturn {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
}

* {
  font-family: 'MyFont';
  font-weight: 900;
  margin: 0;
  padding: 0;
}

#menuContainer {
  margin-top: 15%;
  color: white;
  font-size: 1em;
  text-align: center;
}

#showBody {
  margin-top: 5%;
}

#background {
  position: absolute;
  background-image: url('../images/login.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: .9;
}

#overlay {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#create {
  margin-bottom: 25px;
}

.login {
  width: 220px;
  height: 40px;
  margin-bottom: 10px;
  background-color: rgba(0,0,0,0.5);
  font-size: 14px;
  color: white;
  text-align: center;
}

#start {
  background-color: rgba(0,0,0,0.9);
  width: 250px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

#log {
  background-color: rgba(0,0,0,0.9);
  width: 250px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.loginButton {
  width: 150px;
  height: 25px;
  cursor: pointer;
}

.login::-webkit-input-placeholder {
  color: white;
}

.login:-moz-placeholder {
  color: white;
}

#showBody {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.deleteMe {
  visibility: hidden;
}

#delete-button{
  width: 150px;
  cursor: pointer;
  margin-top: 1em;
}

.editMe {
  visibility: hidden;
  position: relative;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
  display: inline-block;
  cursor: pointer;
  padding-left: 2%;
  padding-right: 2%;
}

#border {
  border-bottom-style: solid;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2%;
  margin-bottom: 5%;

}
#postContainer {
  visibility: hidden;
}

#username {
  text-align: left;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 5%
}

#postContainer {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  text-align: center;
}

#up-form {
  margin-top: 20%;
  color: white;
  cursor: pointer;
}

.button {
  width: 220px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.uploadButton{
  width: 220px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

#cancel {
  width: 220px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

#containThis {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.textbox {
  width: 500px;
  height: 400px;
  margin-bottom: 10px;
  background-color: rgba(225,225,225, 0.1);
  font-size: 14px;
  color: white;
  text-align: left;
}

.ospry {
  width: 220px;
  height: 40px;
  margin-bottom: 10px;
  background-color: rgba(225,225,225, 0.1);
  font-size: 14px;
  color: white;
  text-align: center;
}

.textbox::-webkit-input-placeholder {
  color: white;
}

.textbox:-moz-placeholder {
  color: white;
}

.ospry::-webkit-input-placeholder {
  color: white;
}

.ospry:-moz-placeholder {
  color: white;
}

#editBox{
  width: 100%;
}

#editTextBox{
  width: 100%;
}

#updateButton {
  width: 150px;
}

#wT {
  text-align: left;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 5%
}

#wTmenu {
  text-align: center;
}


#indexContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.blogImage {
   max-width: 300px;
   max-height: 700px;
   display: inline-block;
   float: left
   clear: both;
}
