* {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

li {
  list-style: none;
}

ul {
  display: inline-block;
}

#brandsContainer #info {
  padding-bottom: 150%;
  float: right;
}

#formContainer {
  visibility: hidden;
  position: absolute;
}

#menuContainer {
  margin-top: 10%;
}

#showBody {
  margin-top: 5%;
}
