
<html>
  <head>
    <title>USERS/SHOW</title>
  </head>
  <body>
    <h1>ADD NEW FIT</h1>
    <form action="/users/<%= user.id %>/newbrands" method="POST">
      <input type="text" name="imglink" placeholder="IMG LINK">
      <input type="text" name="shirt" placeholder="SHIRT">
      <input type="text" name="pants" placeholder="PANTS">
      <input type="text" name="shoes" placeholder="SHOES">
      <input type="text" name="outerwear" placeholder="OUTERWEAR">
      <input type="text" name="accessories" placeholder="ACCESORIES">
      <input type="submit">
    </form>
  </body>
</html>
