<html>
  <head>
    <title>BRANDS/INDEX</title>
    <% include ../partials/scripts %>
    <body>
      <div id='container'>
        <% for (var i=0; i < brands.length; i++) { %>
          <img src='<%= brands[i].imglink %>'></a>
        <% } %>
      </div>
    </body>
  </head>
</html>
